---
import { tm } from "../../utils/tailwind";

interface Props {
	label?: string;
	hex?: string;
	classes?: {
		root?: string;
		label?: string;
		hex?: string;
	};
}

const { label, hex, classes, ...rest } = Astro.props;
---
<div class={tm(`flex w-full rounded-xl shadow-md`, classes?.root)} {...rest}>
	<div class="flex flex-col m-auto gap-1 text-center">
		<h1 class={tm("font-bold text-[30px] text-white", classes?.label)}>{label}</h1>
		<p class={tm(classes?.hex)}>{hex}</p>
	</div>
</div>