@import "tailwindcss";

@theme {
	--color-light-0: #f8f9fa;
	--color-light-1: #f1f3f5;
	--color-light-2: #e9ecef;
	--color-light-3: #dee2e6;
	--color-light-4: #ced4da;
	--color-light-5: #adb5bd;
	--color-light-6: #868e96;
	--color-light-7: #495057;
	--color-light-8: #343a40;
	--color-light-9: #212529;

	--color-dark-0: #ebecf3;
	--color-dark-1: #d3d5e4;
	--color-dark-2: #adb2cc;
	--color-dark-3: #8089b0;
	--color-dark-4: #606a97;
	--color-dark-5: #4c537d;
	--color-dark-6: #3e4466;
	--color-dark-7: #363b56;
	--color-dark-8: #212437;
	--color-dark-9: #161721;

	--color-slate-0: #f5f5f7;
	--color-slate-1: #e7e7ed;
	--color-slate-2: #dcdce4;
	--color-slate-3: #9f9fac;
	--color-slate-4: #848495;
	--color-slate-5: #6a6a7b;
	--color-slate-6: #39393c;
	--color-slate-7: #2b2b2f;
	--color-slate-8: #222226;
	--color-slate-9: #19191D;

	--color-deepblue-0: #edebff;
	--color-deepblue-1: #cac6ed;
	--color-deepblue-2: #a7a0de;
	--color-deepblue-3: #837bd0;
	--color-deepblue-4: #6155c2;
	--color-deepblue-5: #473ba8;
	--color-deepblue-6: #372e83;
	--color-deepblue-7: #26205c;
	--color-deepblue-8: #16143b;
	--color-deepblue-9: #080619;

	--color-gravel-0: #f0f0fd;
	--color-gravel-1: #d5d5e1;
	--color-gravel-2: #b8bac7;
	--color-gravel-3: #9496A9;
	--color-gravel-4: #808298;
	--color-gravel-5: #66697e;
	--color-gravel-6: #505163;
	--color-gravel-7: #393a48;
	--color-gravel-8: #21232d;
	--color-gravel-9: #060c16;

	--color-patreon: #ff424d;
	--color-paypal: #003087;
	--color-github: #1b1f23;

	--color-starlane-primary: #e25bff;
	--color-starlane-secondary: #347cf5;

	--starlane-gradient: linear-gradient(45deg, var(--color-starlane-primary), var(--color-starlane-secondary));

	--font-size-xs: 12rem;
	--font-size-sm: 13rem;
	--font-size-md: 14rem;
	--font-size-lg: 16rem;
	--font-size-xl: 18rem;
}

html {
	font-family: "Montserrat", sans-serif;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-select: none;
	pointer-events: none;
}

.main-container {
    width: 100%;
    
	@media (width >= 40rem) {
        max-width: 40rem;
    }
    
	@media (width >= 48rem) {
        max-width: 48rem;
    }
    @media (width >= 64rem) {
        max-width: 64rem;
    }
    @media (width >= 70rem) {
        max-width: 70rem;
    }
}

.text-gradient {
	background-clip: text; 
	-webkit-background-clip: text; 
	-webkit-text-fill-color: transparent;
}

.btn {
	padding: 0.25rem 1.25rem;
	letter-spacing: 1px;
	border-radius: 2rem;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	text-transform: uppercase;
}

.btn-solid-primary {
	background-color: var(--color-deepblue-4);
	color: white;
}

.btn-outline-primary {
	border-color: var(--color-deepblue-4);
	color: white;
}

.btn-solid-gradient {
	background: var(--starlane-gradient);
	color: white;
}

.btn-outline-gradient {
	border: 3px solid var(--starlane-gradient);
	color: white;
}

.btn-outline {
	border-width: 3px;
}