---
import Layout from "../layouts/Layout.astro";

import "../styles/home.css";
---

<Layout>
	<div class="max-w-[540px] py-[50px]">
		<p class="font-bold text-6xl text-white">
			Turning
			<span
				class="text-gradient bg-gradient-to-r from-[#F149B7] to-[#815eff]"
			>
				Dreams
			</span>
			into
			<span
				class="text-gradient bg-gradient-to-r from-[#01cbf3] to-[#3d73d6]"
			>
				Reality
			</span>
		</p>
	
		<p class="description mt-[20px]">
			We are a group of passionate developers, artists and gamers who strive
			to create high quality <b>games</b> and <b>software</b> for all to enjoy.
		</p>

		<div class="mt-[15px] flex gap-3">
			<a href="/games" class="btn btn-outline btn-outline-gradient">About Us</a>
			<a href="/about" class="btn btn-outline">Support Us</a>
		</div>
	</div>
</Layout>