---
import TextGradient from "../components/basics/TextGradient.astro";
import Title from "../components/basics/Title.astro";
import Stack from "../components/basics/Stack.astro";
import Layout from "../layouts/Layout.astro";
import Group from "../components/basics/Group.astro";

import "../styles/home.css";

---

<Layout>
	<Stack class="max-w-[540px] py-[50px]">
		<Title>
			Turning 
			<TextGradient c1="#F149B7" c2="#815eff">
				Dreams
			</TextGradient>
			into 
			<TextGradient c1="#01cbf3" c2="#3d73d6">
				Reality
			</TextGradient>
		</Title>

		<p class="description mt-[20px]">We are a group of passionate developers, artists and gamers who strive to create high quality <b>games</b> and <b>software</b> for all to enjoy.</p>

		<Group>

		</Group>
	</Stack>
</Layout>