---
import SectionHeading from "../components/basics/SectionHeading.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<SectionHeading
		title="Privacy Policy"
		subtitle="Our commitment to your privacy"
	/>

	<div class="grid gap-2 mt-15">
		<h1 class="text-xl text-deepblue-7 dark:text-gravel-0 font-bold mb-2">
			Who are we?
		</h1>
		<p>We are Starlane Studios,</p>
		<p>
			We are a team of passionate developers, artists and gamers, who
			strive to create high quality games and software for all to enjoy.
			Our team consists of members spread across the globe, with everyone
			taking up their own roles and tasks.
		</p>
		<p>
			Our website address is:
			<a
				class="text-deepblue-4 dark:text-deepblue-3 hover:opacity-95"
				href="https://starlane.studio/"
			>
				https://starlane.studio/
			</a>
		</p>
	</div>

	<div class="grid gap-2 mt-10">
		<h1 class="text-xl text-deepblue-7 dark:text-gravel-0 font-bold mb-2">
			Embedded content from other websites
		</h1>
		<p>
			Some pages may include embedded content (e.g. videos, images,
			articles, etc.). Embedded content from other websites behaves in the
			exact same way as if the visitor has visited the other website.
		</p>
		<p>
			These websites may collect data about you, use cookies, embed
			additional third-party tracking, and monitor your interaction with
			that embedded content, including tracking your interaction with the
			embedded content if you have an account and are logged into that
			website.
		</p>
	</div>

	<div class="grid gap-2 mt-10">
		<h1 class="text-xl text-deepblue-7 dark:text-gravel-0 font-bold mb-2">
			Data we collect
		</h1>
		<p>
			Starlane Studios will never collect your data without your knowledge
			and consent with the exception of anonymous analytical data used to
			better our products. This may include data such as features used in
			an application so we can better understand how our users interact
			with our products and prioritize the most used features. The only
			identifying information we collect is what you explicitly provide to
			us. For example, if you sign up to one of our products or a
			newsletter, we will collect your email address.
		</p>
	</div>

	<div class="grid gap-2 mt-10">
		<h1 class="text-xl text-deepblue-7 dark:text-gravel-0 font-bold mb-2">
			How your data is shared
		</h1>
		<p>
			Starlane Studios will never share your data with a third-party for
			marketing or tracking purposes. We may, however, share your data
			with third-party services for operational or legal purposes. For
			example, if you sign up for a newsletter, we will send your email to
			our newsletter provider so that you can be added to the mailing
			list.
		</p>
	</div>

	<div class="grid gap-2 mt-10">
		<h1 class="text-xl text-deepblue-7 dark:text-gravel-0 font-bold mb-2">
			What rights you have over your data
		</h1>
		<p>
			The easiest way to make a request for us to delete your data is by
			sending an email to
			<a
				class="text-deepblue-4 dark:text-deepblue-3 hover:opacity-95"
				href="mailto:contact@starlane.org"
			>
				contact@starlane.org
			</a>
			including all of the relevant information you would like for us to delete.
			Alternatively, you can open a support ticket in our Discord server. We
			may ask that you verify that you are the person to whom the data belongs
			such as by requiring you to verify an email address before deleting the data. We are
			not able to delete any data we are obligated to keep for administrative,
			legal, or security reasons.
		</p>
	</div>
</Layout>
