---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<h1 class="text-2xl font-bold text-midnight">{post.data.title}</h1>
<Content />
