---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";
import { tm } from "../utils/tailwind";

interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const { Content } = await render(post);

const isArchived = true;
---

<h1
	class={tm(
		"text-2xl font-bold text-midnight bg-gray-200",
		isArchived && "bg-red-700",
	)}
>
	{post.data.title}
</h1>
<Content />
