---
import type { HTMLAttributes } from 'astro/types';
import { tm } from '../../utils/tailwind';


const VARIANTS = {
	solid: 'bg-deepblue-7 dark:bg-deepblue-4 text-white duration-200 hover:bg-deepblue-6 dark:hover:bg-deepblue-5 focus:bg-deepblue-5',
	outline: 'border-3 border-deepblue-7 dark:border-deepblue-4 text-deepblue-7 dark:text-white duration-200 hover:text-deepblue-5 dark:hover:text-deepblue-3',
	gradient: 'bg-gradient-to-br from-starlane-primary to-starlane-secondary text-white',
}

const SIZES = {
	sm: 'px-3 py-[3px] text-[12px]',
	md: 'px-[18px] py-[5px] text-[14px]',
	lg: 'px-7 py-[12px] text-[16px]',
	xl: 'px-9 py-[14px] text-[18px]',
}

type Variant = keyof typeof VARIANTS;
type Size = keyof typeof SIZES;

interface Props extends HTMLAttributes<'button'> {
	variant?: Variant;
	size?: Size;
	link?: string;
	disabled?: boolean;
}

const { size, variant, disabled, class: className, onclick: clickEvent, link, ...rest } = Astro.props;
const target = link?.startsWith('http') ? '_blank' : '_self';
const action = target === '_blank' ? `window.open('${link}', '_blank')` : `window.location.href='${link}'`;
---

<button 
	class={
		tm("tracking-[1px] rounded-full font-semibold uppercase cursor-pointer select-none align-middle", 
		VARIANTS[variant ?? "solid"], 
		SIZES[size ?? "md"], 
		className, 
		disabled ? "bg-gravel-2 focus:bg-gravel-2 hover:bg-gravel-2 dark:bg-gravel-7 cursor-not-allowed hover:dark:bg-gravel-7 dark:focus:bg-gravel-7" : "")
	} 
	onclick={(!disabled) ? link ? action : (clickEvent ?? undefined) : undefined} 
	{...rest}
>
	<slot />
</button>