---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/blogs/BlogPost.astro";

const posts = await getCollection("blog");
---

<Layout>
	<section>
		<h2>Latest Posts</h2>
		<ul>
			{
				posts.map((post) => (
					<li>
						<BlogPost post={post} />
					</li>
				))
			}
		</ul>
	</section>

</Layout>
