---
interface Props {
	title?: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="theme-color" content="#26205C" />
		<meta name="description" content="We are group of passionate developers, artists and gamers who strive to create high quality games and software for all to enjoy." />

		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" />

		<title>{title}</title>

		<meta name="description" content="Starlane Studios" />
		<meta name="twitter:card" content="content" />
		<meta name="twitter:title" content="Starlane Studios" />
		<meta name="twitter:image" content="/favicon.ico" />
		<meta name="og:title" content="Starlane Studios" />
		<meta name="og:type" content="website" />
		<meta name="og:image" content="/favicon.ico" />

		<meta content="Starlane Studios" name="og:site_name" property="og:site_name" />
		<meta content="@StarlaneStudios" name="twitter:site" property="twitter:site" />
		<meta content="starlane.studio" name="twitter:domain" property="twitter:domain" />
	</head>
	
	<body class="m-0 w-full h-full text-gravel-6 dark:text-gravel-2 bg-light-0 dark:bg-dark-9">
		<div id="site-content">
			<slot />
		</div>
	</body>
</html>