---
import type { HTMLAttributes } from "astro/types";
import { tm } from "../../utils/tailwind";

interface Props extends HTMLAttributes<"a"> {
	link: string;
	label: string;
}

const { link, label, class: className, ...rest } = Astro.props;
---
<a
	href={link}
	class={tm("hover:text-deepblue-4 dark:hover:text-deepblue-3 transition-color duration-200 hover:opacity-95", className)}
>
	{label}
</a>