---
import darkLogoSvg from '../../assets/starlane-logo-dark.svg';
import lightLogoSvg from '../../assets/starlane-logo-light.svg';
import Image from '../basics/Image.astro';
import FooterLink from './FooterLink.astro';
---

<div class="w-full bg-light-1 dark:bg-dark-8">
	<div class="grid min-h-[20rem] w-full mt-50 lg:justify-center">
		<a class="col-span-1 w-[200px] mt-10 mx-auto lg:hidden" href="/">
			<Image
				class="block w-[200px]"
				alt="Starlane Studios Logo"
				src={{
					light: lightLogoSvg,
					dark: darkLogoSvg
				}}
			/>
		</a>

		<div class="grid grid-cols-3 lg:grid-cols-6 py-10 mx-5 lg:gap-[100px]">
			<a class="col-span-3 w-[200px] my-auto hidden lg:block" href="/">
				<Image
					class="block w-[200px]"
					alt="Starlane Studios Logo"
					src={{
						light: lightLogoSvg,
						dark: darkLogoSvg
					}}
				/>
			</a>
			<div class="grid grid-rows-8 gap-1 content-stretch">
				<h1 class="text-deepblue-7 dark:text-gravel-0 font-bold">Community</h1>

				<FooterLink
					link="https://bsky.app/profile/starlane.studio"
					label="Bluesky"
				/>
				<FooterLink
					link="https://discord.gg/exaQDX2"
					label="Discord"
				/>
				<FooterLink
					link="https://github.com/StarlaneStudios"
					label="GitHub"
				/>
				<FooterLink
					link="https://patreon.com/StarlaneStudios"
					label="Patreon"
				/>
				<FooterLink
					link="https://twitch.tv/StarlaneStudios"
					label="Twitch"
				/>
				<FooterLink
					link="https://x.com/StarlaneStudios"
					label="X"
				/>
				<FooterLink
					link="https://youtube.com/@StarlaneStudios"
					label="YouTube"
				/>
			</div>

			<div class="grid grid-rows-8 gap-1 content-stretch col-span-1">
				<h1 class="text-deepblue-7 dark:text-gravel-0 font-bold">Projects</h1>
				<FooterLink
					link="https://starlane-studios.itch.io/asteroids"
					label="Asteroids"
				/>
				<FooterLink
					link="https://github.com/StarlaneStudios/cirql"
					label="Cirql"
				/>
				<FooterLink
					link="https://github.com/StarlaneStudios/vscode-comment-anchors"
					label="Comment Anchors"
				/>
				<FooterLink
					link="https://starlane-studios.itch.io/meltdown"
					label="Meltdown"
				/>
				<FooterLink
					link="https://github.com/StarlaneStudios/sceptre"
					label="Sceptre"
				/>
			</div>
	
			<div class="grid grid-rows-8 gap-1 content-stretch">
				<h1 class="text-deepblue-7 dark:text-gravel-0 font-bold">About</h1>
				<FooterLink
					link="/about"
					label="About Us"
				/>
				<FooterLink
					link="/brand"
					label="Brand Guide"
				/>
				<FooterLink
					link="https://status.starlane.studio"
					label="Status Page"
				/>
			</div>
		</div>
	</div>

	<div class="w-full">
		<hr class="w-full border-t border-light-3 dark:border-dark-7" />

		<p class="text-center light:text-gravel-6 dark:text-gravel-0 py-5">
			© 2025 Starlane Studios • All rights reserved
		</p>
	</div>
</div>
