---
import darkLogoSvg from '../../assets/starlane-logo-dark.svg';
import lightLogoSvg from '../../assets/starlane-logo-light.svg';
import Image from '../basics/Image.astro';
---

<div class="w-full bg-light-1 dark:bg-dark-8">
	<div class="grid min-h-[20rem] w-full mt-50 justify-center">
		<div class="grid grid-cols-6 py-10 gap-[100px]">
			<a class="col-span-3 w-[200px] my-auto" href="/">
				<Image
					class="block w-[200px]"
					alt="Starlane Studios Logo"
					src={{
						light: lightLogoSvg,
						dark: darkLogoSvg
					}}
				/>
			</a>
	
			<div class="grid grid-rows-8 gap-1 content-stretch col-span-1">
				<h1 class="text-deepblue-7 dark:text-gravel-0 font-bold">Projects</h1>
				<a href="https://starlane-studios.itch.io/asteroids">Asteroids</a>
				<a href="https://github.com/StarlaneStudios/cirql">Cirql</a>
				<a href="https://github.com/StarlaneStudios/vscode-comment-anchors">Comment Anchors</a>
				<a href="https://starlane-studios.itch.io/meltdown">Meltdown</a>
				<a href="https://github.com/StarlaneStudios/sceptre">Sceptre</a>
			</div>
	
			<div class="grid grid-rows-8 gap-1 content-stretch">
				<h1 class="text-deepblue-7 dark:text-gravel-0 font-bold">Community</h1>
				<a href="https://bsky.app/profile/starlane.studio">Bluesky</a>
				<a href="https://discord.gg/exaQDX2">Discord</a>
				<a href="https://github.com/StarlaneStudios">GitHub</a>
				<a href="https://patreon.com/StarlaneStudios">Patreon</a>
				<a href="https://twitch.tv/StarlaneStudios">Twitch</a>
				<a href="https://x.com/StarlaneStudios">X</a>
				<a href="https://youtube.com/@StarlaneStudios">YouTube</a>
				
			</div>
	
			<div class="grid grid-rows-8 gap-1 content-stretch">
				<h1 class="text-deepblue-7 dark:text-gravel-0 font-bold">About</h1>
				<a href="/about">About Us</a>
				<a href="/brand">Brand Guide</a>
				<a href="/privacy-policy">Privacy Policy</a>
			</div>
		</div>
	</div>

	<div class="w-full">
		<hr class="w-full border-t border-light-3 dark:border-dark-7" />

		<p class="text-center light:text-gravel-6 dark:text-gravel-0 py-5">
			© 2025 Starlane Studios • All rights reserved
		</p>
	</div>
</div>
