---
import darkLogoSvg from "../../assets/starlane-logo-dark.svg";
import lightLogoSvg from "../../assets/starlane-logo-light.svg";
import Image from "../basics/Image.astro";
import Spacer from "../basics/Spacer.astro";
import NavButton from "./NavButton.astro";
---

<div class="py-7 mb-[70px] flex">
	<a href="/">
		<Image
			class="block w-[185px]"
			alt="Starlane Studios Logo"
			src={{
				dark: darkLogoSvg,
				light: lightLogoSvg
			}}
		/>
	</a>

	<Spacer />

	<div class="flex gap-7">
		<NavButton link="/">
			Home
		</NavButton>
		<NavButton link="/blogs">
			Blogs
		</NavButton>
		<NavButton link="/projects">
			Projects
		</NavButton>
		<NavButton link="/about">
			About Us
		</NavButton>
		<NavButton link="/socials">
			Socials
		</NavButton>
	</div>
</div>
